@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
body{
    padding: 0;
    margin: 0;
    background-image: url(img/tlo.png); 
    background-size: 100% 100%;
    width: 100%;
    height: 1080px;
    transition: 0.2s;
}
text{
    font-family: 'Fredoka', sans-serif;
    font-size: 35px;
    color: white;
   transition: 0.2s;
}
img:hover{
   cursor:pointer;
}
#menuIMG{
    margin-left: 1%;
}
img{
    border-radius: 50px;
    transition: 0.2s;
}
#menu{
    margin-left: 1%;
    display: none;
    background-color: rgba(0, 0, 0, 0.74);
    /* background-color: rgba(255, 255, 255, 0.74); */
    width: 10%;
    height: 25%;
    border-radius: 10px;
    transition: 0.2s;
}
button{
    width: 100px;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    border-radius: 10px;
    transition: 0.2s;
}
#nav{
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 90%;
    height: 100px;
    transition: 0.2s;
}
#main{
    margin-left: 30%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 40%;
    height: 700px;
    transition: 0.2s;
}
#main2{
    margin-left: 30%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 40%;
    height: 350px;
    transition: 0.2s;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    transition: 0.2s;

}
a:hover{
    color: red;
    font-size: 35px;
}
hr{
  width: 50%;
  border: 1px solid white;
}
#pos-up-hr{
    width: 90%;
    border: 1px solid white;
  }


footer{
    color: white;
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}


@media only screen and (max-height: 600px){
    body{
         background-image: url(img/tlo.png);
         background-repeat: no-repeat;
         background-size:250%;
         background-position: center;

    }
}
@media only screen and (max-height: 800px){
    body{
         background-image: url(img/tlo.png);
         background-repeat: no-repeat;
         background-size:250%;
         background-position: center;
        
    }
    #menu{
        width: 30%;
        
    }
    #nav{
        height: 150px;
    }
    #main{
        /* margin-left: 15%; */
        width: 70%;
        height: auto;
    }
    #main2{
        /* margin-left: 15%; */
        width: 70%;
        height: auto;
    }
}
@media only screen and (max-width: 1100px){
    body{
         background-image: url(img/tlo.png);
         background-repeat: no-repeat;
         background-size:450%;
       
    }
    #main{
        margin-left: 1%;
        width: 150%;
        height: auto;
    }
    #main2{
        margin-left: 15%;
        width: 70%;
        height: auto;
    }
}